@*@model IEnumerable<MVCMultiUser.Models.SelectAllCls>*@
@{
    ViewBag.Title = "DisplayAll_SP_Load";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Display All Details</h2>
<h3>Hello</h3>
<div>
    @using (Html.BeginForm("DisplayAll_SP_Load","SelectAllUsers", FormMethod.Get))
            {
                <table id="t01" class="table">
                    <tr>
                        <th>Name</th>
                        <th>Age</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Photo</th>
                    </tr>
                    @foreach (var item in ViewBag.userdetails)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.Age</td>
                        <td>@item.Address</td>
                        <td>@item.Email</td>
                        <td>
                            <img src="@Url.Content(item.Photo)" alt="Image" height="150" width="150" />
                        </td>
                    </tr>
                }
                </table>
            }
</div>
<style>
    #t01{
        background-color: lightpink;
    }

    h1{
        color:fuchsia;
        
    }
    #t01 th {
        color: white;
        background-color: coral;
    }

    #t01 td {
        color: dodgerblue;
        padding:30px;
    }
    table,th,td{
        border:1px solid black;
    }
</style>

