@model MVCMultiUser.Models.Logincls
@{
    ViewBag.Title = "Login_pageload";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>User Login</h1>
<div>
    @using (Html.BeginForm("Login_Click", "UserLogin", FormMethod.Get))
    {
        <div>
            <label>User Name:</label>
        </div>
        <div>
            @Html.TextBoxFor(m => m.Uname)
            @Html.ValidationMessageFor(m => m.Uname)
        </div>
        <div>
            <label>Password:</label>
        </div>
        <div>
            @Html.PasswordFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div>
            <input type="submit"  value="Login" />
            @Html.DisplayFor(m => m.msg)
        </div>

    }
</div>

